<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Calender</title>
    <link rel="stylesheet" href="styles.css">
    <!-- Add this to <head> -->

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- <script src="//unpkg.com/vue@latest/dist/vue.js"></script> -->
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/http-vue-loader@1.4.2/src/httpVueLoader.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    
    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
</head>
<body>
    <div id="app">
        <!-- month, year -->
        <b-container class="p-3">
            <b-row>
                <h1 class="display-4 mx-auto text-secondary">Event Calendar</h1>
             </b-row>
        </b-container>
        
        <!-- month year and selectors -->
        <b-container class="bv-example-row p-3 " align-h="end">
            <b-row class="row1">
                <b-col cols="6">
                    <h4>
                        <span class="text-danger">{{ months[selected.month] }}</span> 
                        <span class="text-light bg-dark" style="border-radius: .5rem; padding: .3rem;">{{ selected.year }}</span>
                    </h4>
                </b-col>
                <b-col cols="1">
                    <b-button class="btn-sm" v-b-modal.add-event>+</b-button></b-col>
                <b-col cols="3">
                    <b-form-select v-model="selected.month" size="sm">
                        <b-form-select-option 
                            v-for="(month, index) in months"
                            :key="index"
                            :value="index">
                                {{ month }}
                        </b-form-select-option>
                    </b-form-select>
                </b-col>
                <b-col cols="2">
                    <b-form-select v-model="selected.year" size="sm">
                        <b-form-select-option 
                            v-for="(year, index) in years"
                            :key="index"
                            :value="year">
                                {{ year }}
                        </b-form-select-option>
                    </b-form-select>
                </b-col>
            </b-row>

        <!-- calendar days -->
            <b-row>
                <div class="calender" cols="12">
                    <div class="seven-days" v-for="day in daysInWeek">{{ day }}</div>
                    <div class="start-day" v-for="n in startDay"></div>
                    <day v-for="(day,index) in daysInMonth" 
                        :key="index"
                        :day="day"
                        :ii="index"
                        :month="selected.month"
                        :year="selected.year"
                        @indexglobal="indexGlobal">     
                    </day>
                </div>
            </b-row>
        </b-container>

        <!-- add event button modal-->
        <b-modal id="add-event" title="Add Event" hide-footer centered>
           <b-form @submit.prevent="addEvent">
               <!-- event text area -->
               <b-form-input id="eventtext" type="text" placeholder="Event" v-model="newEvent.text" required></b-form-input>
               <br>
               <!-- event time selector -->
               <b-form-timepicker id="timepicker" class="mb-2" v-model="newEvent.time"></b-form-timepicker>
               <br>
               <!-- event date selector -->
               <b-form-datepicker id="datepicker" class="mb-2" v-model="newEvent.date"></b-form-datepicker>
               <br>
               <!-- event details area -->
               <b-form-textarea id="textarea" placeholder="Details" v-model="newEvent.details" rows="3" max-rows="3" required></b-form-textarea>
               <br>
               <!-- cancel button -->
               <b-button @click="$bvModal.hide('add-event')">Cancel</b-button>
               <!-- add event button -->
               <b-button type="submit">Add Event</b-button>
           </b-form>
        </b-modal>      
    </div>
    
    <script src="app.js"></script>
</body>
</html>